
{%- assign formats = site.data[site.metadata] | map: "format" -%}
{%- assign types = "event;image" | split: ";" -%}


{%- assign events = site.data[site.metadata ] | where_exp: "item","item.format contains 'event'" -%}
{%- assign eventTitle = events | map:"title" -%}
{%- assign eventDate = events | map:"date" -%}
{%- assign objectid = events | map:"objectid" -%}
{%- assign itemLink =  prepend: '/browse.html#' | relative_url  -%}

<div class="card mb-3" >
    <div class="card-body">
        <h5 class="card-title">Event Test</h5>
        <p class="card-text">
            {% for t in types %}
              {%- assign count = formats | where_exp: 'item','item contains t' | size -%}
              {% if count > 0 %}

                {% case t %}
                  {% when 'event' %}
                  <ul>
                    {% for item in eventTitle %}
                    <li>{{eventTitle[forloop.index0]}}</li>
                    <li>{{eventDate[forloop.index0]}}</li>
                    <li>{{itemLink}}</li>
                     {% endfor %}
                  </ul>
               {% else %}

                {% endcase %}
            {% endif %}
            {%- endfor -%}
<br>
            <a class="btn btn-sm btn-outline-secondary mt-2" href="{{ '/data.html' | relative_url }}">View table</a>
        </p>
    </div>
</div>
